<div class="container">
    <h1>Character Counter</h1>
    <p class="subtitle">Free Online Word Count & Text Character Counter Tool</p>
  
    <div class="stats-container">
      <div class="stat-item" style="background-color: #ffcccb;">Characters<br>{{charCount}}</div>
      <div class="stat-item" style="background-color: #d4edda;">Letters<br>{{letterCount}}</div>
      <div class="stat-item" style="background-color: #fff3cd;">Numbers<br>{{numberCount}}</div>
      <div class="stat-item" style="background-color: #d1ecf1;">Spaces<br>{{spaceCount}}</div>
      <div class="stat-item" style="background-color: #e9ecef;">Symbols<br>{{symbolCount}}</div>
      <div class="stat-item" style="background-color: #f8d7da;">Words<br>{{wordCount}}</div>
      <div class="stat-item" style="background-color: #cce5ff;">Sentences<br>{{sentenceCount}}</div>
      <div class="stat-item" style="background-color: #d8deff;">Paragraphs<br>{{paragraphCount}}</div>
    </div>
  
    <div class="button-container">
        <button type="button" (click)="clearText()" [disabled]="!text" class="btn-clear">CLEAR</button>
        <button type="button" (click)="copyText()" [disabled]="!text" class="btn-copy">COPY</button>
    </div>
    <br>
    <div class="content-container">
      <textarea [(ngModel)]="text" (input)="updateCounter()" placeholder="Enter text here"></textarea>
      <div class="word-density">
        <h3>Top 10 Word Density</h3>
        <table>
          <tr>
            <th>TOP</th>
            <th>count</th>
          </tr>
          <tr *ngFor="let item of sortedWordDensity.slice(0, 10)">
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>