<div class="container">
    <h1>Password Generator</h1>
    <p class="subtitle">Create Unpredictable Password Using Random Password Generator Online</p>
    <p class="description">
        Use Password Generator to create a strong password,<br>
        And keep your account safe and secure
    </p>

    <div class="password-display">
        <div class="input-wrapper">
            <input type="text" [value]="password" readonly>
            <button (click)="generatePassword()" class="regenerate-btn" title="Regenerate Password">
                <i class="fas fa-sync-alt"></i>
            </button>
        </div>
        <button (click)="copyPassword()" class="copy-btn">COPY</button>
    </div>

    <div class="customize-section">
        <div class="length-control">
            <label>Number of characters</label>
            <div class="length-input">
                <button (click)="decrementLength()">-</button>
                <input type="number" [(ngModel)]="length" (ngModelChange)="generatePassword()">
                <button (click)="incrementLength()">+</button>
            </div>
        </div>

        <div class="character-types">
            <label>Type of characters</label>
            <div class="checkbox-group">
                <label><input type="checkbox" [(ngModel)]="includeUppercase" (change)="generatePassword()"> ABCD</label>
                <label><input type="checkbox" [(ngModel)]="includeLowercase" (change)="generatePassword()"> abcd</label>
                <label><input type="checkbox" [(ngModel)]="includeNumbers" (change)="generatePassword()"> 1234</label>
                <label><input type="checkbox" [(ngModel)]="includeSymbols" (change)="generatePassword()"> @#$%</label>
            </div>
        </div>

        <div class="strength-indicator">
            <img src="assets\images\password-strength.jpg" alt="Password Strength">
            <p>
                Your password is <strong>{{ getPasswordStrength().text }}</strong>. It will take<br>
                <strong>{{ getPasswordStrength().time }}</strong> to crack your password
            </p>
        </div>
    </div>
</div>