.center {
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.demoBorder {
    border: 10px solid red;
}

.demoBorderRadius {
    border: dashed;
    border-width: 2px 4px;
    border-radius: 40px;
    overflow: hidden;
}