<div class="container mt-4">
    <h1 class="text-center mb-4">Case Converter Tool</h1>
    <p class="text-center mb-4">
        Case Converter is a free online tool that can convert any text into upper case, lower case, sentence case, or proper case.
    </p>
  
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-3">Type text, words, letters, or symbols here:</h5>
        <div class="form-group">
          <textarea 
            class="form-control" 
            rows="10" 
            [style.fontSize.px]="fontSize"
            [(ngModel)]="inputText" 
            (input)="handleInputChange($event)"
            placeholder="Type or paste your text content here"></textarea>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <small>Character Count: {{character}}</small>
          <small>Word Count: {{word}}</small>
          <small>Line Count: {{paragraph}}</small>
        </div>
      </div>
    </div>
  
    <div class="mt-4 text-center">
      <button class="btn btn-primary m-1" (click)="convertToTextCase(TextCaseType.SENTENCE_CASE)">Sentence case</button>
      <button class="btn btn-primary m-1" (click)="convertToTextCase(TextCaseType.CAPITAL_CASE)">Capitalized Case</button>
      <button class="btn btn-primary m-1" (click)="convertToTextCase(TextCaseType.LOWER_CASE)">lower case</button>
      <button class="btn btn-primary m-1" (click)="convertToTextCase(TextCaseType.UPPER_CASE)">UPPER CASE</button>
      <button class="btn btn-primary m-1" (click)="convertToTextCase(TextCaseType.ALTERNAT_CASE)">aLtErNaTiNg cAsE</button>
      <button class="btn btn-primary m-1" (click)="convertToTextCase(TextCaseType.INVERSE_CASE)">InVeRsE CaSe</button>
      <button class="btn btn-primary m-1" (click)="convertToTextCase(TextCaseType.TITLE_CASE)">Title Case</button>
      <button class="btn btn-primary m-1" (click)="convertToTextCase(TextCaseType.HYPHEN_CASE)">hyphen-case</button>
      <button class="btn btn-primary m-1" (click)="convertToTextCase(TextCaseType.REMOVE_EXTRA_SPACE)">Remove Extra Spaces</button>
      <button class="btn btn-primary m-1" (click)="convertToTextCase(TextCaseType.REMOVE_ALL_SPACE)">Remove All Spaces</button>
      <button class="btn btn-primary m-1" (click)="convertToTextCase(TextCaseType.REMOVE_ENTER)">Remove Enter</button>
      <button class="btn btn-secondary m-1" (click)="handleTextClear()">Clear</button>
      <button class="btn btn-success m-1" (click)="handleCopyClick()" [disabled]="inputText === ''">
        {{copySuccess ? 'Copied!' : 'Copy'}}
      </button>
    </div>
  </div>