/* You can add global styles to this file, and also import other style files */
.card {
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    color: blueviolet;
  }
  
  .bi {
    font-size: 2rem;
  }